@import "mixins.less";
@import "variables.less";
.calculate-action{
  float: left;
  width:2em;
}
.calc-expession input[type='text']{
  width: @width - 10;
  padding-right: 2px;
}
.calcs-action{
  width: @width;
  .clearfix();
}
input[type="text"]{
  .input_style();
}
input[type="text"]:focus{
  .input_style_focus();
}
.btn{
  .button_style();
  margin-right: 2px;
}
.btn:hover{
  .button_style_hover();
}

